
.content-section {
	> div {
		padding-top: $line-height-computed * 4;
		padding-bottom: $line-height-computed * 4;
		@media (max-width: $screen-xs-max) {
			padding-top: $line-height-computed * 2;
			padding-bottom: $line-height-computed * 2;
		}
	}
	&.content-section-map, &.content-section-carousel {
		> div {
			padding-top: 0;
			padding-bottom: 0;
		}
		.container-fluid {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.container, .container-fluid {
		h2 {
			margin-bottom: $line-height-computed * 2;
		}
	}
}

// standard type
.content-type {
	padding-bottom: $line-height-computed;
}

// links
.content-section-links {
	margin-top: $line-height-computed;
}

// carousel
.content-section-carousel {
	position: relative;
	.carousel {
		width: 100%;
		height: 100%;
		margin: 0;
		.item {
			min-height: 400px;
			width: 100%;
			height: 100%;
			@extend .background-image;
		}
	}
	.content-section-links {
		position: absolute;
		width: 100%;
		bottom: $line-height-computed;
		left: 0;
		@media (min-width: $screen-md-min) {
			bottom: 20%;
		}
	}
}

.carousel-caption {
	top: 40%;
}

// image gallery
.carousel-control {
	i {
		position: absolute;
		top: 50%;
		@include translate(0, -50%);
	}
}

.image-gallery-thumbnails {
	> a {
		img {
			cursor: pointer;
			opacity: 1;
			//margin: 0;
			@include transition(opacity 0.3s);
			&.inactive {
				opacity: 0.4 !important;
			}
			&.active {
				opacity: 1 !important;
			}
		}
		&.selected {
			img {
				opacity: 1;
			}
		}
		&.not-selected {
			img {
				opacity: 0.4;
			}
		}
	}
}
