
.background-image {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.sections {
	.section {
		position: relative;
		min-height: 400px;
		@extend .clearfix;
	}
}

// accordion panels
.panel-title {
	span {
		cursor: pointer;
		display: block;
		i:before {
			content: "\f057";
		}
		&.collapsed {
			i:before {
				content: "\f13a";
			}
		}
	}
}
.panel-body {
	color: $text-color;
}

// flickr gallery
.flickrgallery {
	min-height: 400px;
}

// carousel
.carousel-fade {
	.carousel-inner {
		> .item {
			opacity: 0;
			top: 0;
			left: 0;
			width: 100%;
			display: block;
			position: absolute;
			z-index: 0;
			-webkit-transition: none;
			transition: none;
			-webkit-transform: translate3d(0, 0, 0) !important;
			transform: translate3d(0, 0, 0) !important;
		}
		> .item:first-of-type {
			position: relative;
		}
		> .active {
			opacity: 1;
			z-index: 3;
		}
		> .next.left,
		> .prev.right {
			@include transition(opacity 0.6s ease-in-out);
			opacity: 1;
			left: 0;
			z-index: 2;
		}
		> .active.left,
		> .active.right {
			z-index: 1;
		}
	}
	.carousel-control {
		z-index: 4;
	}
}

#lightcase-overlay {
	z-index: $zindex-modal!important;
}

#lightcase-loading {
	z-index: $zindex-modal + 1!important;
}

#lightcase-case {
	z-index: $zindex-modal + 2!important;
}