.container-small {
	@extend .container;
	max-width: $container-sm;
}
.container-medium {
	@extend .container;
	max-width: $container-md;
}
.container-large {
	@extend .container;
	max-width: $container-lg;
}