
.map-container {
	@media (max-width: $screen-sm-max) {
		margin-left: $grid-gutter-width/2;
		margin-right: $grid-gutter-width/2;
	}
}

.map {
	width: 100%;
	height: 700px;
	@media (max-width: $screen-xs-max) {
		height: 450px;
	}
	@media (max-width: $screen-sm-max) {
		height: 550px;
	}
}

.gm-style {
	font-family: $font-family-base;
	font-size: 13px;
}

.map-info-bubble {
	width: 280px;
	height: 300px;
	overflow: hidden;
	text-align: left;
	.content {
		padding: 0 $padding-base-horizontal;
	}
	.img-responsive {
		max-width: 100% !important;
	}
}

.map-marker-cluster[style*="background"] {
	background-color: $brand-primary;
	border-radius: 50%;
	z-index: 2000;
	@include box-shadow(0px 0px 5px 0px rgba(50, 50, 50, 0.5), inset 0px 0px 0px 2px rgba(255, 255, 255, 1));
}

.map-marker-label {
	.fa {
		color: $brand-primary;
		width: 32px;
		height: 55px;
		font-size: 55px;
		line-height: 55px;
		text-align: center;
		text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
	}
}