
// centered nav
.nav-centered {
	text-align: center;
	margin-bottom: $line-height-computed;
	.nav {
		display: inline-block;
		li {
			display: inline;
		}
		a {
			float: left;
		}
	}
}
* html .nav-centered .nav, *+html .nav-centered .nav {
	display: inline;
}